:root {
  --purple: rgb(169, 0, 202);
  --white: #ffffff;
  --offWhite: #c9c9c9;
  --black: #000000;
  --offBlack: #333333;
  --transDuration: 1s;
}

* {
  color: var(--fontColor);
  font-family: helvetica;
}

.navbar{
  position: top;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: var(--bg);
  border-bottom: 1px solid var(--border);
  display: block;
  justify-content: left;
  padding: 5px 0;
  transition-duration: var(--transDuration);
  z-index: 3;
}

.nav-wrapper{
  width: 100%;
  max-width: display-width;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: left;
}

.nav-items{
  height: 22px;
  position: relative;
  display: inline-block;
}

.brand-img{
  width: 250px;
  margin-top: -10px;
  margin-left: 30px;
  justify-content: left;
  border: 1px transparent;
  display: inline-block;
  align-items: center;
}
/* Change the background color on mouse-over */
.brand-img:hover {
  cursor: pointer;
}

.search-box{
  position: fixed;
  transform: translateX(150%);
  margin-top: 5px;
  width: 25%;
  height: 25px;
  background: border;
  border: 1px solid border;
  border-radius: 10px;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  text-transform: none;
  justify-content: center;
  align-items: center;
  display: inline-block;
}

.search-box::placeholder{
  color: rgba(0, 0, 0, 0.5);
}

.hide-search-box{
  display: none;
}


/*ANY BUTTONS CAN USE THIS*/
.btn {
  position: fixed;
  top: 5px;
  height: 50px;
  width: 50px;
  transform: translateX(-500%);
  border-radius: 50%;
  border: none;
  color: var(--btnFontColor);
  background-color: var(--btnBg);
  justify-content: center;
  align-items: center;
  display: inline-block;
  transition-duration: var(--transDuration);
}

.btn:hover {
  background-color: var(--border);
  color: var(--btnFontColor);
  cursor: pointer;
}

.btn:focus { outline-style: var(--black); }

.toggleDark {
  color: var(--btnFontColor);
}


/*****CODE FOR AVATAR*****/
/***Ensure when changing something for avatar, avatarBG is changed accordingly***/
/*Avatar size variables*/
.avatar {
  justify-content: right;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  position: fixed;
  border-radius: 50%;
  z-index: 2;
  cursor: pointer;
}

.avatar div {
  position: fixed;
  display: inline-block;
}

/*Avatar Background Size Variables*/
.avatarBG {
  justify-content: right;
  vertical-align: middle;
  margin-right: 0px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: flex;
  z-index: 1;
}

.avatarBG div {
  position: flex;
  display: inline-block;
}

/*Change Avatar Visuals*/
.avatarDisplay {
  justify-content: left;
  vertical-align: middle;
  margin-top: 0px;
  margin-right: 1%;
  width: 100px;
  height: 100px;
  border-radius: 5px;
  z-index: 1;
  cursor: pointer;
  transition: transform 0.3s;
}

.avatarDisplay:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  z-index: 2;
}

.row {
  display: flex;
  max-width: 800px;
}

/*Light and Dark theme*/
.light-theme {
  --bg: var(--white);
  --fontColor: var(--black);
  --btnBg: var(--black);
  --btnFontColor: var(--purple);
  --border: var(--offWhite);
  transition-duration: var(--transDuration);
}

.dark-theme {
  --bg: var(--black);
  --fontColor: var(--white);
  --btnBg: var(--white);
  --btnFontColor: var(--purple);
  --border: var(--offBlack);
  transition-duration: var(--transDuration);
}

/*MENU ICON*/
.container { 
  transform: translateX(-300%);
  margin-top: 5px;
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: var(--fontColor);
  margin: 6px 0;
  transition: 0.4s;
  z-index: 4;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  z-index: 4;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
  cursor: pointer;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  cursor: pointer;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-right .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
  .brand-img {size: 50px;}
  .avatar {size: 50px;}
  .avatarBG {size:50px;}
}

body {
    background: var(--bg);
}


h2 {
  margin-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
}