:root {
  --purple: rgb(169, 0, 202);
  --white: #ffffff;
  --offWhite: #c9c9c9;
  --black: #000000;
  --offBlack: #333333;
  --transDuration: 1s;
}

* {
  color: var(--fontColor);
  font-family: helvetica;
}

.navbar{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: var(--bg);
  border-bottom: 1px solid var(--border);
  display: block;
  justify-content: left;
  padding: 5px 0;
  transition-duration: var(--transDuration);
}

.nav-wrapper{
  width: 100%;
  max-width: 1000px;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-items{
  height: 22px;
  position: relative;
  display: inline-block;
}

.brand-img{
  width: 25%;
  margin-top: 5px;
  margin-left: 30px;
  justify-content: left;
  border: 1px transparent;
  display: inline-block;
}
/* Change the background color on mouse-over */
.brand-img:hover {
  cursor: pointer;
}

.search-box{
  position: fixed;
  transform: translateX(150%);
  width: 25%;
  height: 25px;
  background: border;
  border: 1px solid border;
  border-radius: 10px;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  text-transform: none;
  justify-content: center;
  align-items: center;
  display: inline-block;
}

.search-box::placeholder{
  color: rgba(0, 0, 0, 0.5);
}

.btn {
  position: fixed;
  top: 10px;
  height: 50px;
  width: 50px;
  transform: translateX(100%);
  border-radius: 50%;
  border: none;
  color: var(--btnFontColor);
  background-color: var(--btnBg);
  justify-content: center;
  align-items: center;
  display: inline-block;
  transition-duration: var(--transDuration);
}

.btn:hover {
  background-color: var(--border);
  color: var(--btnFontColor);
  cursor: pointer;
}

.btn:focus { outline-style: var(--black); }


/*****CODE FOR AVATAR*****/
/*Avatar size variables*/
.avatar {
  justify-content: right;
  vertical-align: middle;
  transform: translateX(1000%);
  margin-top: -30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline-block;
  position: fixed;
  z-index: 2;
}

.avatar div {
  position: fixed;
  display: inline-block;

}

.avatarBG {
  justify-content: right;
  vertical-align: middle;
  transform: translateX(1000%);
  margin-top: -30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline-block;
  position: fixed;
  z-index: 1;
}

.avatarBG div {
  position: fixed;
  display: inline-block;
}


.light-theme {
  --bg: var(--white);
  --fontColor: var(--black);
  --btnBg: var(--black);
  --btnFontColor: var(--purple);
  --border: var(--offWhite);
  transition-duration: var(--transDuration);
}

.dark-theme {
  --bg: var(--black);
  --fontColor: var(--white);
  --btnBg: var(--white);
  --btnFontColor: var(--purple);
  --border: var(--offBlack);
  transition-duration: var(--transDuration);
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
  cursor: pointer;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  cursor: pointer;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-right .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
  .brand-img {size: 50px;}
  .avatar {size: 50px;}
}

body {
    background: var(--bg);
}

h2 {
  margin-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.icon{
  height: 100%;
  position: relative;
  cursor: pointer;
  margin-top: 10px;
  display: inline-block;
  justify-content: right;
}

.user-profile{
  width: 22px;
  border-radius: 50%;
  background-image: url(img/profile-pic.png);
  background-size: cover;
}