:root {
  --purple: rgb(169, 0, 202);
  --white: #ffffff;
  --offwhite: #dfdfdf;
  --black: #000000;
  --offBlack: #333333;
}

* {
  color: var(--fontColor);
  font-family: helvetica;
}

.light-theme {
  --bg: var(--white);
  --fontColor: var(--black);
  --btnBg: var(--black);
  --btnFontColor: var(--purple);
  --border: var(--offWhite);
}

.dark-theme {
  --bg: var(--black);
  --fontColor: var(--white);
  --btnBg: var(--white);
  --btnFontColor: var(--purple);
  --border: var(--offBlack);
}

body {
    background: var(--bg);
}
  
h1 {
  color: rgb(169, 0, 202);
  margin-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
h2 {
  margin-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.btn {
  position: relative;
  justify-content: left;
  align-items: center;
  top: -17.5px;
  left: -100px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  color: var(--btnFontColor);
  background-color: var(--btnBg);
  display: block;
}

.btn:focus { outline-style: none; }

.navbar{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: var(--bg);
  border-bottom: 1px solid var(--border);
  display: flex;
  justify-content: left;
  padding: 5px 0;
}

.nav-wrapper{
  width: 100%;
  max-width: 1000px;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand-img{
  height: 200%;
  margin-top: 5px;
  margin-left: 30px;
  justify-content: left;
  border: 1px transparent;
  display: block;
}

.search-box{
  position: relative;
  transform: translateX(-50%);
  width: 200px;
  height: 25px;
  background: border;
  border: 1px solid border;
  border-radius: 2px;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  text-transform: capitalize;
  justify-content: center;
  align-items: center;
  display: block;
}

.search-box::placeholder{
  color: rgba(0, 0, 0, 0.5);
}

.nav-items{
  height: 22px;
  position: relative;
}

.icon{
  height: 100%;
  position: relative;
  cursor: pointer;
  margin-top: 10px;
  display: inline-block;
  justify-content: right;
}

.user-profile{
  width: 22px;
  border-radius: 50%;
  background-image: url(img/profile-pic.png);
  background-size: cover;
}